body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.presentation {
  width: 80%;
  max-width: 900px;
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.slide {
  display: none;
  animation: fade 0.6s;
}

.slide.active {
  display: block;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

h1, h2 {
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
}

.buttons {
  margin-top: 20px;
}

button {
  background: #000000;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #000000;
}
.mead-img {
      position: fixed;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      width: 250px;
      border-radius: 10px;
}
.qr-code {
      position: fixed;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      width: 150px;
      border-radius: 10px;
}
